@tailwind base;
@tailwind components;
@tailwind utilities;

/* Altura completa */
html, body, #__next {
  height: 100%;
}

/* Tamaño base un poco más grande para toda la web */
html {
  font-size: 17px; /* ~un pelín más grande que lo normal */
}

/* Fuente base del sitio */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #111827;
  @apply font-sans text-[17px] leading-relaxed;
}

/* Tokens de marca */
:root {
  --goride-brown:#6b3e2a;
  --goride-dark:#2b2b2b;
}

.btn-brown {
  background: var(--goride-brown);
  color: white;
}
